.cli-window{
    height: 100%;
    overflow: auto;
    padding-bottom: 10rem;
    background-color: rgb(43, 42, 42);

    div[name=react-console-emulator]{
        height: 100%;
        background-color: transparent !important;
      
    }
}