.cards {
  padding: 1rem;
  overflow: auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 10rem;
  scroll-behavior: smooth;

  .card {
    flex: 1 1 20rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: rgb(223, 223, 223);
    padding-inline: 1rem;
    padding-block: 0.75rem;
    background-color: rgb(39, 38, 38);
    border-radius: 0.5rem;

    img {
      border-radius: 1rem;
      width: 100%;
    }

    h1 {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .desc {
      opacity: 0.7;
      word-spacing: 0.3rem;
      line-height: 1.3rem;
    }

    .tags {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;

      .tag {
        padding: 0.75rem 1.25rem;
        border-radius: 0.75rem;
        background-color: green;
        white-space: nowrap;
      }
    }

    .urls {
      display: flex;
      gap: 1rem;

      a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
