.spotify-window {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  background: #000;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px;
  }
}
