* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

html, body ,#root{
  width: 100%;
  height: 100%;

}
body{
  overflow: hidden;
  background-color: black;
}
main{
  
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url(https://i.pinimg.com/originals/35/01/cd/3501cdcd72bdd2fc7b11b836693046c3.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}