* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   user-select: none;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  overflow: visible; /* FIX */
}

main {
  width: 100%;
  height: 100%;
  overflow: visible;
  position: relative; /* FIX */
}

.bg-video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none; /* OK */
}
main {
  position: fixed;
  inset: 0;
  overflow: visible;
}
