* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

html, body ,#root{
  width: 100%;
  height: 100%;

}
body{
  overflow: hidden;
  background-color: black;
}
main{
  
  overflow: hidden;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.bg-video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

}

.app::after {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
 
  z-index: -1;
}
