.dock {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: rgba(81, 80, 80, 0.43);
  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: 0.75rem;
  backdrop-filter: blur(5px);
}

/* icons */
.dock .icon {
  padding: 0.2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  width: 3.75rem;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

/* colors */
.dock .github {
  background-color: black;
}

.dock .note {
  background: linear-gradient(to bottom, orangered, rgb(255, 138, 96));
}

.dock .pdf {
  background: linear-gradient(to bottom, red, rgba(255, 0, 0, 0.632));
}

.dock .calender {
  background: linear-gradient(to bottom, rgb(26, 26, 209), rgba(0, 179, 255, 0.632));
}

.dock .spotify {
  background: linear-gradient(to bottom, rgb(5, 244, 5), rgb(0, 78, 0));
}

.dock .link {
  background: linear-gradient(to bottom, purple, rgb(221, 3, 221));
}

.dock .cli {
  background-color: black;
}

.dock .mail {
  background: linear-gradient(to bottom, rgb(5, 152, 244), rgb(0, 3, 78));
}

/* hover effects */
.dock .icon:hover {
  transform: scale(1.25) translateY(-20%);
}

.dock .icon:hover + .icon,
.dock .icon:has(+ .icon:hover) {
  transform: scale(1.1) translateY(-10%);
}
