.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.75rem;
  width: 100%;
  background: rgba(132, 126, 126, 0.17);
  color: white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  user-select: none;

  .nav-left,
  .nav-right {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  .apple-icon {
    img {
      width: 14px;
      cursor: pointer;
    }
  }

  .nav-icon {
    img {
      width: 16px;
    }
  }
  .nav-item.active {
  background: rgba(255, 255, 255, 0.25);
}


  .nav-item {
    font-size: 0.85rem;
    padding: 2px 8px;
    border-radius: 6px;
    cursor: default;
    transition:  0.2s ease;
      position: relative;
 .dropdown {
    position: absolute;
    top: 100%;
  }
    &:hover {
      background: rgba(255, 255, 255, 0.15);
    }
  }
}
