nav{
    display: flex;
    justify-content: space-between;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    width: 100%;
    background-color: rgba(132, 126, 126, 0.171);
    color: white;
    backdrop-filter: blur(5px);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

nav .left,.right{
    display: flex;
    gap: 20px   ;
}