*::-webkit-scrollbar{
    width: 8px;

}
*::-webkit-scrollbar-thumb{
    background-color: rgb(151, 151, 151);
    border-radius: 10px;
}

.window{
    overflow: hidden;
    height: 100%;
    background-color: black ;
    border-radius: 1rem;
    overflow: hidden;
    color: rgb(173, 173, 173);
    font-weight: 500;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    .nav{
        display: flex;
        gap: 1rem;
        border-bottom: 2px solid rgb(131, 123, 123);
        align-items: center;
        padding-inline: 0.75rem;
        padding-block: 0.5rem;

        .dots{
            display: flex;
            gap: 0.25rem;
        
        .dot{
        
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: white;
        }
        .red{
            background-color: red;
            cursor: pointer;
        }
        .green{
            background-color: rgb(5, 212, 5);
             cursor: pointer;
        }
        .yellow{
             cursor: pointer;   
            background-color: yellow;
        }
       

        }
    }
     .main-content{
        height: 100%;
     }
     

}